@charset "UTF-8";

/* importando uma fonta externa no google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* importando uma fonte salva na maquina */
@font-face {
    font-family: "Android";
    src: url("fontes/idroid.otf") format("opentype");
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #84E1AD;
}

header {
    background-color: #2FA765;
    color: white;
    min-width: 100px;
    font-family: 'Bebas Neue', cursive;
}

nav {
    background-color: #063d1e;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 1000px;
}

main h1 {
    color: #ffffff;
}

main h2 {
    font-family: 'Android', cursive;
}

footer {
    color: white;
    background-color: #063d1e;
}

.subtitle {
    background-color: #c1f6d6;
    font-size: 20px;
    color: #2B6847;
}

anside {
    background-color: #c1f6d6;
}